<template>
<div>

  <q-carousel
    v-model="slide"
  >

  </q-carousel>
</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'home-slider',
  computed: {
    ...mapState('main', ['slides'])
  },
  data () {
    return {
      slide: 0
    }
  }
}
</script>

<style scoped>

</style>
