<template>
  <q-layout>
    <navbar />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>

import Navbar from 'components/header/navbar'
export default {
  name: 'MainLayout',
  components: { Navbar },
  data () {
    return {
    }
  }
}
</script>
