<template>
  <div class="q-pt-md">
    <vs-sidebar
      absolute
      v-model="active"
      :open.sync="activeSidebar"
    >
      <template #logo>
        <!-- ...img logo -->
      </template>
      <vs-sidebar-group>
        <template #header>
          <vs-sidebar-item arrow>
            <template #icon>
              <i class='bx bx-group'></i>
            </template>
            Social media
          </vs-sidebar-item>
        </template>

        <vs-sidebar-item id="Instagram">
          <template #icon>
            <i class='bx bxl-instagram'></i>
          </template>
          Instagram
        </vs-sidebar-item>
        <vs-sidebar-item id="twitter">
          <template #icon>
            <i class='bx bxl-twitter' ></i>
          </template>
          Twitter
        </vs-sidebar-item>
        <vs-sidebar-item id="Facebook">
          <template #icon>
            <i class='bx bxl-facebook' ></i>
          </template>
          Facebook
        </vs-sidebar-item>
      </vs-sidebar-group>
    </vs-sidebar>

    <div class="bottom-nav">
      <vs-button
        icon
        color="#80b441"
        :active="true"
        @click="activeSidebar = !activeSidebar"
        class="q-mt-xs"
      >
        <i class='bx bx-list-ul'></i>
      </vs-button>

      <vs-button
        icon dark
        :active="true"
        class="q-mt-xs"
      >
        <i class='bx bx-user'></i>
      </vs-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'navbar',
  data () {
    return {
      active: 'home',
      activeSidebar: false
    }
  }
}
</script>

<style lang="sass">
.bottom-nav
  display: flex
  justify-content: space-between
  position: fixed
  bottom: 10px
  left: 10px
  right: 10px
  z-index: 10
  background: #ffffff
  padding: 10px 5px 3px
  border-radius: 20px
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,.1)

</style>
