<template>
  <q-page class="flex flex-center q-pa-lg">
    <home-slider />
    <vs-alert relief color="#444444">
      <template #title>
        <div class="text-center">Vuesax Framework</div>
      </template>
      Vuesax (pronounced / vjusacksː /, as view sacks) is a <b>UI components framework</b>
      created with <a href="https://vuejs.org/">Vuejs</a> to make projects easily and with a
      Unique and pleasant style, Vuesax is created from scratch and designed for all types of
      developed from the frontend lover to the backend that wants to easily create
      your visual approach to the end user
    </vs-alert>
  </q-page>
</template>

<script>
import HomeSlider from 'components/sliders/home-slider'
export default {
  name: 'PageIndex',
  components: { HomeSlider }
}
</script>
